DevGuide.code-workspace

package.json
package-lock.json
node_modules
*slnx.sqlite
*ProjectSettings.json
*VSWorkspaceState.json
*.vsidx
*.wsuo
*.dtbcache.v2
*.futdcache.v2
*.suo
*.metadata.v7.bin
*.projects.v7.bin
*.deps.json
*.json
*.csproj.nuget.dgspec.json
*.csproj.nuget.g.props
*.csproj.nuget.g.targets
*.assets.json
*.nuget.cache
*.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
*apphost.exe
*.AssemblyInfo.cs
*.AssemblyInfoInputs.cache
*.assets.cache
*.csproj.BuildWithSkipAnalyzers
*.csproj.CoreCompileInputs.cache
*.csproj.FileListAbsolute.txt
obj/
.vs/
bin/Debug/
bin/
Debug/
*.cache
*.GeneratedMSBuildEditorConfig.editorconfig
*s.g.cs
*.g.i.cs
*DesignTimeResolveAssemblyReferencesInput.cache
